.form-ppal {
    padding-right: 10%;
    padding-left: 10%;
}

#header-img {
    background-image: url('../assets/93902e2090600eb25db693f9d47e9bae2.jpg');
    height: 20vh;
}

#formulario {
    height: 70vh;
}

#resultadosDiv {
    display: none;
    padding-left: 10%;
    padding-right: 10%;
}

#resultados {
    padding-left: 10%;
    padding-right: 10%;
}

@media (max-width: 400px) {
    
    #resultados {
        margin-top: 10%;
    }
    
  }

  @media (max-width: 350px) {
    
    #resultados {
        margin-top: 20%;
    }
    
  }